<div style="height: 500vh;width:500px;margin:0 auto;">
  <div style="position:fixed;top:2rem;left:2rem;z-index:99">
    <input id="enableParallax" type="checkbox" [(ngModel)]="parallax" />
    <label for="enableParallax">Enable parallax</label>
  </div>
  <div style="overflow:hidden">
    <ngx-smooth-parallax [parallax]="parallax">
      <img
      style="width:100%"
      height="400"
      src="https://picsum.photos/1000/300"
    />
    </ngx-smooth-parallax>
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu iaculis
    mi. Nam pulvinar non risus eget iaculis. Morbi nisi purus, consequat nec
    lorem in, varius malesuada orci. Suspendisse eu eleifend libero, a molestie
    nisi. Suspendisse ornare gravida tortor, eget malesuada nisi placerat nec.
    Nulla iaculis urna eget imperdiet pretium. Mauris blandit lorem eget lorem
    scelerisque, vitae dictum elit viverra. Pellentesque velit ex, placerat
    vitae tellus nec, aliquet consectetur ligula. Proin mattis, dolor volutpat
    pharetra ultrices, nulla magna semper ipsum, eget pellentesque lacus erat at
    nisi.
  </div>
  <div style="overflow:hidden">
    <ngx-smooth-parallax [parallax]="parallax"
    [startOffsetParallax]="300">
      <img
      style="width:100%"
      height="400"
    
      src="https://picsum.photos/1000/301"
    />
    </ngx-smooth-parallax>
   
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu iaculis
    mi. Nam pulvinar non risus eget iaculis. Morbi nisi purus, consequat nec
    lorem in, varius malesuada orci. Suspendisse eu eleifend libero, a molestie
    nisi. Suspendisse ornare gravida tortor, eget malesuada nisi placerat nec.
    Nulla iaculis urna eget imperdiet pretium. Mauris blandit lorem eget lorem
    scelerisque, vitae dictum elit viverra. Pellentesque velit ex, placerat
    vitae tellus nec, aliquet consectetur ligula. Proin mattis, dolor volutpat
    pharetra ultrices, nulla magna semper ipsum, eget pellentesque lacus erat at
    nisi.
  </div>
  <div style="overflow:hidden">
    <ngx-smooth-parallax [parallax]="parallax"
    [startOffsetParallax]="-100">
      <img
      style="width:100%"
      height="400"
      
      src="https://picsum.photos/1000/302"
    />
    </ngx-smooth-parallax>
   
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu iaculis
    mi. Nam pulvinar non risus eget iaculis. Morbi nisi purus, consequat nec
    lorem in, varius malesuada orci. Suspendisse eu eleifend libero, a molestie
    nisi. Suspendisse ornare gravida tortor, eget malesuada nisi placerat nec.
    Nulla iaculis urna eget imperdiet pretium. Mauris blandit lorem eget lorem
    scelerisque, vitae dictum elit viverra. Pellentesque velit ex, placerat
    vitae tellus nec, aliquet consectetur ligula. Proin mattis, dolor volutpat
    pharetra ultrices, nulla magna semper ipsum, eget pellentesque lacus erat at
    nisi.
  </div>
  <div style="overflow:hidden">
    <ngx-smooth-parallax [parallax]="parallax">
      <img
      style="width:100%"
      height="400"
     
      src="https://picsum.photos/1000/303"
    />
    </ngx-smooth-parallax>
    
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu iaculis
    mi. Nam pulvinar non risus eget iaculis. Morbi nisi purus, consequat nec
    lorem in, varius malesuada orci. Suspendisse eu eleifend libero, a molestie
    nisi. Suspendisse ornare gravida tortor, eget malesuada nisi placerat nec.
    Nulla iaculis urna eget imperdiet pretium. Mauris blandit lorem eget lorem
    scelerisque, vitae dictum elit viverra. Pellentesque velit ex, placerat
    vitae tellus nec, aliquet consectetur ligula. Proin mattis, dolor volutpat
    pharetra ultrices, nulla magna semper ipsum, eget pellentesque lacus erat at
    nisi.
  </div>
</div>
